.table-container {
    max-width: 90%;
    margin: 0 auto;
  }

table th,
table td {
    text-align: left;
}

table.layout {
    width: 100%;
    border-collapse: collapse;
}

table.display th,
table.display td {
    border: 1px solid #36E3DC;
    padding: 5px 10px;
}

table.display th { 
    background: #159692; 
}

table.display td { 
    background: #fff; 
}

.button{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    font-weight: bold;
    min-width: 150px;
}

.button:hover{
    color: #fff;
    background-color: #159692;
    cursor: pointer;
}
  